body {
    margin: 0;
    padding: 0;
}


/* Homepage */

#n144_22 {
    width: 100%;
    height: 3142px;
    overflow: hidden;
    background: rgb(255, 255, 255);
}


/* for marketing (2) 1 */

#n144_23 {
    background-image: url("https://s3-alpha-sig.figma.com/img/dfd5/ef6b/355969dd92f87794b03c4342418f50fd?Expires=1598832000&Signature=K88nZGVLW~ot2B2Q52TaNoY46APbAjJ2VFptfmmSufCPftpL8FMgAPtk0VQpVsZkF99V5pJ7H3iDZ0uD4aA2h~yEAgcYUhrIWwmQGlPHOqaTm6Ad1KQD6FxGf-Lkxa8-LE4Cz7DTsTTICnem7oapEt1r71Y1-3wzewqpguGwojFwvrNXs-wpwywzE7g75LGcTEYqafaAz5yptZTqBvTz3vQd2jjBULCYVDFvBY0~a7Km1qS9u5vv-3WD7r2Wm57BPow36hyPXDDjmIR-eRBLmTCv6wvgL~h6pa38Z1SrHMFr8L4sQ8x3Z-UwBQSwhmk~cbhAd7Wm8hWwOOHIIjPP0Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 161px;
    top: 10px;
    height: 63px;
}


/* Rectangle 1 */

#n144_24 {
    width: 100%;
    height: 82px;
    background: rgb(0, 153, 255);
}


/* Accelerate Your Career */

#n144_25 {
    font-family: "Roboto Slab";
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 153, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 507px;
    transform: translate(0px, 0px);
    line-height: 75px;
    height: 168px;
    left: 73px;
    top: 223px;
}


/* Book virtual video sessions with top industry professionals in 2 mins. Free for a limited time! */

#n144_26 {
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 77, 115);
    vertical-align: middle;
    justify-content: flex-start;
    width: 494px;
    transform: translate(0px, 0px);
    line-height: 35.1563px;
    height: 98px;
    left: 80px;
    top: 391px;
}


/* Frame 1 */

#n144_27 {
    width: 100px;
    height: 100px;
    overflow: hidden;
    left: 42px;
    top: 423px;
}


/* Interested in becoming a mentor? */

#n144_30 {
    font-family: "Roboto Slab";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 77, 115);
    vertical-align: middle;
    justify-content: flex-start;
    width: 330px;
    transform: translate(0px, 0px);
    line-height: 23.4375px;
    height: 29px;
    left: 80px;
    top: 618px;
}


/* Find Mentors */

#n144_32 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 118px;
    align-items: center;
    line-height: 23.4375px;
    height: 23px;
    left: 1052px;
    top: 28px;
}


/* Log In */

#n144_33 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 55px;
    align-items: center;
    line-height: 23.4375px;
    height: 23px;
    left: 1322px;
    top: 28px;
}


/* Sign Up */

#n144_34 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 69px;
    align-items: center;
    line-height: 23.4375px;
    height: 23px;
    left: 1211px;
    top: 28px;
}


/* Rectangle 2 */

#n144_35 {
    background: url("f43a121aa52c9f9dd3ab774730303317.png");
    left: 600px;
    width: 760px;
    top: 230px;
    height: 390px;
}


/* Mentors */

#n144_36 {
    font-family: "Roboto Slab";
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 77, 115);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 254px;
    transform: translate(0px, 0px);
    line-height: 75px;
    height: 84px;
    left: 92px;
    top: 743px;
}


/* 1. Sign Up */

#n144_37 {
    font-family: "Roboto Slab";
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 153, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 340px;
    transform: translate(0px, 0px);
    line-height: 75px;
    height: 95px;
    left: 570px;
    top: 1225px;
}


/* 2. Complete a career Quiz */

#n164_155 {
    font-family: "Roboto Slab";
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 153, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 960px;
    transform: translate(0px, 0px);
    line-height: 75px;
    height: 95px;
    left: 569px;
    top: 1510px;
}


/* 3. Book Sessions */

#n164_157 {
    font-family: "Roboto Slab";
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 153, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 960px;
    transform: translate(0px, 0px);
    line-height: 75px;
    height: 95px;
    left: 580px;
    top: 1802px;
}


/* Sign up with your university email and reserve your ticket to success. */

#n144_38 {
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 77, 115);
    vertical-align: middle;
    justify-content: flex-start;
    width: 884px;
    transform: translate(0px, 0px);
    line-height: 35.1563px;
    height: 95px;
    left: 569px;
    top: 1315px;
}


/* Indulge in an engaging quiz to help us provide tailor made solutions for you. */

#n164_156 {
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 884px;
    transform: translate(0px, 0px);
    line-height: 35.1563px;
    height: 95px;
    left: 560px;
    top: 1607px;
}


/* Our algorithm generates the best mentors suited to your needs. Book sessions in 2 minutes! */

#n164_158 {
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 884px;
    transform: translate(0px, 0px);
    line-height: 35.1563px;
    height: 95px;
    left: 578px;
    top: 1895px;
}


/* How it works */

#n144_39 {
    font-family: "Roboto Slab";
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 77, 115);
    vertical-align: middle;
    justify-content: flex-start;
    width: 452px;
    transform: translate(0px, 0px);
    line-height: 75px;
    height: 95px;
    left: 80px;
    top: 1125px;
}


/* About Us */

#n144_48 {
    font-family: "Roboto Slab";
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 279px;
    transform: translate(0px, 0px);
    line-height: 75px;
    height: 84px;
    left: 80px;
    top: 2185px;
}


/* Line 1 */

#n144_40 {
    width: 100%;
    top: 900px;
    height: 1px;
    transform: translate(-0.5px, 0.5px);
}


/* Work Frame 1 */

#n144_42 {
    width: 460px;
    height: 258px;
    overflow: hidden;
    background: url("55b17f847b1145a0e2328cbb9fe301ca.png");
    background-size: cover;
    background-position: center center;
    left: 80px;
    top: 1225px;
}


/* Work Frame 2 */

#n144_43 {
    width: 460px;
    height: 258px;
    overflow: hidden;
    background: url("498182b931bebbe28c400b6218a65961.png");
    background-size: cover;
    background-position: center center;
    left: 80px;
    top: 1519px;
}


/* Work Frame 3 */

#n170_211 {
    width: 460px;
    height: 258px;
    overflow: hidden;
    background: rgb(0, 77, 115);
    left: 80px;
    top: 1813px;
}


/* Mentor_Box3 */

#n144_45 {
    width: 208px;
    height: 187px;
    overflow: hidden;
    background: rgb(0, 77, 115);
    left: 616px;
    top: 835px;
}


/* pexels-andrea-piacquadio-3757958 1 */

#n216_152 {
    background-image: url("https://s3-alpha-sig.figma.com/img/76dc/4ac1/120bf5d30e5553530ab98520951ce32e?Expires=1598832000&Signature=gb3~n2yctIdCUw8U4zvwQncCtS6v35ipa3zGGloVDMXDZJ6Efdt81IoOcHA2xpUXwqz5lw9tPZtRcNQ-rDk-QCBGV6BkVckJuqNJnulpilNzyvjFByil3B1lfoYKydgvbFCCrOSK86zTxA5lcQ7WMTuZgWmyxqVmyQHh5BC5lTJGgIFcMZIPz18hpSi2D5f5wwxHNFbxgrElNUbQSQ6nlSi~mtA0oX38tUQbTs0Y7pJxKqYOTy9qfI5CwckcORcVnPyjlDOvakMDJ~BKHEEg7~m18-wsoVeyUsNpdEX76jOJJsmM2HDXvF7bzNsYD9uHfG1TePprb-psNn06T4h7Bw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 208px;
    height: 187px;
}


/* Mentor_Box5 */

#n144_47 {
    width: 208px;
    height: 187px;
    overflow: hidden;
    background: rgb(0, 77, 115);
    left: 884px;
    top: 837px;
}


/* pexels-andrea-piacquadio-3778876 1 */

#n147_145 {
    background-image: url("https://s3-alpha-sig.figma.com/img/49cd/85f5/06ebd029fdc8e04fbe3077fe46964cc2?Expires=1598832000&Signature=caqAfCXvo0sDfiCCd4h1loJkh04h3w9S9m7Zifr2n4~-Mw4pQxuYpitA2NiMrV6-cQXSl4m3kEhBsTIHyeduh45rLM4bajkR2sHdWIMRnq1oXIGlLfL5LCZ0i8T-9WtWvWA85WqAGcg9wqSisDMyLlLXPsOz~xFPPdml3rLeD2DkgZSV8vpsF5iNuyxy8EwcaU8rU7W0Ai~Jld~RLUCZTi1lh-y~77jsaRZkU7unFTwFbpwozbpGr283HtnFCAZ-SmpFmwDwX4KAszFWVCq4Mfloc40gVFLzSB-K9o5mcOUFcHKPXKr-cAVtFfOmm7BYGrPMd3U4Kw9~tq44xvNzMg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-repeat: no-repeat;
    width: 208px;
    height: 187px;
    background-position: center center;
    background-size: cover;
}


/* Button Primary */

#n145_136 {
    width: 330px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    left: 80px;
    top: 547px;
}


/* Background */

#nI145_136-9_3 {
    background: rgb(0, 153, 255);
    border-radius: 5px;
}


/* Text */

#nI145_136-9_4 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 21.0938px;
    height: 22px;
    left: 25px;
    right: 24px;
    top: calc(50% - 11px + 0px);
}


/* Footer */

#n145_139 {
    width: 100%;
    height: 280px;
    overflow: hidden;
    background: rgb(0, 153, 255);
    top: 2860px;
}


/* facebook-white-18dp 1 */

#n170_214 {
    width: 56px;
    height: 56px;
    overflow: hidden;
    left: 440px;
    top: 166px;
}


/* Vector */

#n170_216 {
    left: 8.33326%;
    right: 8.3334%;
    top: 8.33%;
    bottom: 8.54%;
}


/* image 7 */

#n170_220 {
    background-image: url("https://s3-alpha-sig.figma.com/img/d5ec/8af7/561ce27a68c8aa4f1aa48e81b60f29f2?Expires=1598832000&Signature=HJkIziT4UlAMEoq9AxkW9YipAiG1iVyiaahMmHxmv8VS5we29KfvboMf7ohWmn6PJRK8ossJbkXz4tz3hhjwoPBoBLIgHOk2AQY7B2C2HwVmlW87CTjBZWZrdh1thMlJQzHTzcR487kLSj9YFK-SUR-ONTgYbZR93-xcl8ATmmPWL3CTu0QRuWKv9ep49jorSDhlF9Jxwbmr7PUmteKV5q0f0161OubttkGESNyUmr~3xjt~~zp4G4c6e2LY4HQCo5xOMhkM8~KaBf5W~DM2zkyXMJQJiD1YURiYkCOH0ciS8LBCDu~UMTk2RDjd4wWajVw4B~gTsK-EKKmbMe9NaA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 519px;
    width: 56px;
    top: 166px;
    height: 56px;
}


/* Contact Us: */

#n170_221 {
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 130px;
    transform: translate(0px, 0px);
    line-height: 28.125px;
    height: 32px;
    left: 440px;
    top: 48px;
}


/* SmartMentor2 (1) 1 */

#n170_222 {
    background-image: url("https://s3-alpha-sig.figma.com/img/21a3/b3a6/aaa8c746f38344dc28d306ae85e2fddb?Expires=1598832000&Signature=O81GH~StMILp1MknmjeFKy5Im9639m6VDHjqV3VU9DEE6H5OJWBgykqqMCCpDzerLHErIecTTBojUvY4e6A-EQEHA8DVNc5bPDC4G0~hE2e24pc2MjRdfQF4trLucubuCeZ3fX9HS~3wujWb2yMdZGF6BzENNPuwpMF--DVMjI4d9QkqukfTgh0o8COUSpEtzf1lL0l6X-hG9cV2pg0GB5caDzhGMoSqZ8BGisuXP8njaPeT7KDjN3WQqR3Kt7E4kBe6BuwvHx2qhTvcWE~GtjPlo8kT2KpCG4OK90mDDrO-Dt9Eh4xpddh9T8GlfnFDK3E3yAI4dqyduxI1gpoYDw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 20px;
    width: 300px;
    top: 35px;
    height: 200px;
}


/* email-white-18dp 1 */

#n170_224 {
    width: 56px;
    height: 56px;
    overflow: hidden;
    left: 440px;
    top: 99px;
}


/* Vector */

#n170_226 {
    left: 8.33326%;
    right: 8.3334%;
    top: 16.67%;
    bottom: 16.67%;
}


/* Line 2 */

#n170_229 {
    left: 356px;
    width: 1px;
    top: 19px;
    height: 237px;
}


/* Line 3 */

#n170_234 {
    left: 1260.25px;
    width: 1px;
    top: 12.999px;
    height: 243.001px;
}


/* Have Questions for the Team? */

#n170_223 {
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 339px;
    transform: translate(0px, 0px);
    line-height: 28.125px;
    height: 32px;
    left: 720px;
    top: 150px;
}


/* Our Journey */

#n174_0 {
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 141px;
    transform: translate(0px, 0px);
    line-height: 28.125px;
    height: 32px;
    left: 720px;
    top: 48px;
}


/* Meet Team sMart */

#n174_3 {
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 201px;
    transform: translate(0px, 0px);
    line-height: 28.125px;
    height: 32px;
    left: 720px;
    top: 99px;
}


/* Send Feedback - We love to hear from you! */

#n170_231 {
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 481px;
    transform: translate(0px, 0px);
    line-height: 28.125px;
    height: 32px;
    left: 720px;
    top: 201px;
}


/* image 6 */

#n170_218 {
    background-image: url("https://s3-alpha-sig.figma.com/img/58fd/8cdb/3c913fbd17b9a3f778810f7e1255603c?Expires=1598832000&Signature=ZkPv0bRwxFlAAqcDVCE1EE1cTFW-5VLbFoCFHk~w~BaXOeOTE62oLtCsnL90h91F4FZ~bPDWNDrw6OHRzw7726SUpW36ePdxoXTiQbgOyjaWvpVW8kbtWknWnuoX~upG~cIHaPfrUjTC0CBzlWHI~vf8fVCno2bPN~4IBm0c289yFFSW0ilYJwdaQJ1t-W2IEMAAKXcfxgQpHjiMIALUHOfJ8dTmUrSYTMiZsCAEO16JNqRPUg33ek~Mfj89~aVd-W0OTznaKkLQ0Jbotsu2etUWlAR2i86j-3XWKW74kOiEyJkXe58Fst4FArw79QTr6yQvBiLIbdZceRCGy-D3wA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 518.894px;
    width: 55.9091px;
    top: 99px;
    height: 55.9091px;
}


/* Rectangle 65 */

#n170_232 {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px inset;
    left: 518.894px;
    width: 55.9091px;
    top: 99px;
    height: 55.9091px;
}


/* Rectangle 66 */

#n174_1 {
    background: rgb(255, 255, 255);
    left: 1280px;
    width: 137px;
    top: 13px;
    height: 243px;
}


/* Rectangle 67 */

#n174_2 {
    background: rgb(0, 77, 115);
    left: 1306px;
    width: 85px;
    top: 148px;
    height: 85px;
}


/* Rectangle 68 */

#n174_4 {
    background: rgb(0, 153, 255);
    left: 1306px;
    width: 85px;
    top: 39px;
    height: 85px;
}


/* View All */

#n144_31 {
    font-family: "Roboto Slab";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 82px;
    transform: translate(0px, 0px);
    line-height: 23.4375px;
    height: 26px;
    left: 1256px;
    top: 784px;
}


/* Polygon 3 */

#n142_72 {
    left: 1345px;
    width: 15px;
    top: 790px;
    height: 15px;
}


/* SmartMentor2 (1) 1 */

#n164_140 {
    background-image: url("https://s3-alpha-sig.figma.com/img/21a3/b3a6/aaa8c746f38344dc28d306ae85e2fddb?Expires=1598832000&Signature=O81GH~StMILp1MknmjeFKy5Im9639m6VDHjqV3VU9DEE6H5OJWBgykqqMCCpDzerLHErIecTTBojUvY4e6A-EQEHA8DVNc5bPDC4G0~hE2e24pc2MjRdfQF4trLucubuCeZ3fX9HS~3wujWb2yMdZGF6BzENNPuwpMF--DVMjI4d9QkqukfTgh0o8COUSpEtzf1lL0l6X-hG9cV2pg0GB5caDzhGMoSqZ8BGisuXP8njaPeT7KDjN3WQqR3Kt7E4kBe6BuwvHx2qhTvcWE~GtjPlo8kT2KpCG4OK90mDDrO-Dt9Eh4xpddh9T8GlfnFDK3E3yAI4dqyduxI1gpoYDw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: -15px;
    width: 166px;
    top: 0;
    height: 80px;
}


/* Frame 15 */

#n161_38 {
    width: 208px;
    height: 58px;
    overflow: hidden;
    background: rgb(0, 153, 255);
    left: 80px;
    top: 1022px;
}


/* Amulay Chadha */

#n161_39 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 126px;
    align-items: center;
    line-height: 21.0938px;
    height: 21px;
    left: 41px;
    top: 2px;
}


/* Data Scientist */

#n161_40 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 108px;
    align-items: center;
    line-height: 14.0625px;
    height: 18px;
    left: 50px;
    top: 22px;
}


/* RBC */

#n162_194 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 23px;
    align-items: center;
    line-height: 14.0625px;
    height: 14px;
    left: 93px;
    top: 40px;
}


/* Frame 16 */

#n162_199 {
    width: 208px;
    height: 62px;
    overflow: hidden;
    background: rgb(0, 153, 255);
    left: 348px;
    top: 1022px;
}


/* Martin Li */

#n162_200 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 71px;
    align-items: center;
    line-height: 21.0938px;
    height: 21px;
    left: 69px;
    top: 2px;
}


/* Audit Analyst */

#n162_201 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 71px;
    align-items: center;
    line-height: 14.0625px;
    height: 18px;
    left: 69px;
    top: 22px;
}


/* KPMG */

#n162_202 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 34px;
    align-items: center;
    line-height: 14.0625px;
    height: 14px;
    left: 87px;
    top: 40px;
}


/* Frame 17 */

#n162_207 {
    width: 208px;
    height: 62px;
    overflow: hidden;
    background: rgb(0, 153, 255);
    left: 616px;
    top: 1022px;
}


/* Julia Jones */

#n162_208 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 92px;
    align-items: center;
    line-height: 21.0938px;
    height: 21px;
    left: 58px;
    top: 2px;
}


/* Software Developer */

#n162_209 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 106px;
    align-items: center;
    line-height: 14.0625px;
    height: 18px;
    left: 51px;
    top: 22px;
}


/* Microsoft */

#n162_210 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 52px;
    align-items: center;
    line-height: 14.0625px;
    height: 14px;
    left: 78px;
    top: 40px;
}


/* Frame 18 */

#n162_211 {
    width: 208px;
    height: 62px;
    overflow: hidden;
    background: rgb(0, 153, 255);
    left: 884px;
    top: 1022px;
}


/* Charles Warne */

#n162_212 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 117px;
    align-items: center;
    line-height: 21.0938px;
    height: 21px;
    left: 48px;
    top: 1px;
}


/* Marketing Analyst */

#n162_213 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 107px;
    align-items: center;
    line-height: 14.0625px;
    height: 18px;
    left: 53px;
    top: 22px;
}


/* Sun Life */

#n162_214 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 44px;
    align-items: center;
    line-height: 14.0625px;
    height: 14px;
    left: 84px;
    top: 40px;
}


/* Frame 19 */

#n162_219 {
    width: 208px;
    height: 62px;
    overflow: hidden;
    background: rgb(0, 153, 255);
    left: 1150px;
    top: 1022px;
}


/* Rachel Smith */

#n162_220 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 106px;
    align-items: center;
    line-height: 21.0938px;
    height: 21px;
    left: 53px;
    top: 1px;
}


/* Strategy Consultant */

#n162_221 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 107px;
    align-items: center;
    line-height: 14.0625px;
    height: 18px;
    left: 53px;
    top: 22px;
}


/* TD */

#n162_222 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 16px;
    align-items: center;
    line-height: 14.0625px;
    height: 14px;
    left: 98px;
    top: 40px;
}


/* image 5 */

#n170_208 {
    background-image: url("https://s3-alpha-sig.figma.com/img/2235/7070/3c3f757dc7eeb383d264b11efdd4d098?Expires=1598832000&Signature=howzwQs3pjJUG6yQcnCUrNnjZdZfj7YUyjGCW8NivhmTxHYTfCHnPccu5bObaJI3vEuy0wZERTPHfrg3Nu28gaXwoHKFw181rA0kDGVanwNQgXSApWOSnjxCNYWZ6QcJvaLb4Yg9yuKcpu597ivgBO9rlSKjp2Jk3dmkWzAz9W9Zke7e3Yl9bt815gdpAw4TMWh7C4K4E5EdZ5xwz9ubxTP4YwoyxvO5rmltT11-NgNwilEch~UmDkiazHpBljYirrBveFKZR8hdu3SwCATE2KwXkawvCV0QDoQj6jEsKWc1pTfwK5UY~S-PnOtcS9ae4AkB2DiteXrm5NxSf6KTpA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 28px;
    left: 785px;
    width: 595px;
    top: 2265px;
    height: 255px;
}


/* sMart - Student Marketplace started off as a small team of 4 ambitious undergraduate students in April 2020. We now have 15 executives spread across 3 different countries. */

#n170_209 {
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 650px;
    transform: translate(0px, 0px);
    line-height: 28.125px;
    height: 128px;
    left: 80px;
    top: 2295px;
}


/* 90% of our members haven't interned in any Canadian company. We believe in empowering those who can make the most out of this opportunity. */

#n170_212 {
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 650px;
    transform: translate(0px, 0px);
    line-height: 28.125px;
    height: 96px;
    left: 80px;
    top: 2440px;
}


/* We're also proud to be recognized amongst the top 10% startups to qualify for the DMZ Basecamp Lite Program. */

#n170_213 {
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 650px;
    transform: translate(0px, 0px);
    line-height: 28.125px;
    height: 64px;
    left: 80px;
    top: 2553px;
}


/* pexels-mentatdgt-937481 1 */

#n162_321 {
    background-image: url("https://s3-alpha-sig.figma.com/img/17b1/ccb2/f1ed1dea3456f844d1f014433717c7b5?Expires=1598832000&Signature=ColsIVqTpXKKNw40qipU2KVttLnLfll3nFRiGC4YjbAk52Il5paGq-xtznzvkihz6hyV2x~giLTpDoD7wjOjnxAQsasA3sq-536XuQidksFx~INt6JMoA5aBXOpY6s5fF47ST2E1mfQ6NPy9-akHc3GvdMAF3EISD08z6LEKt62nD1OPGzrKBn3gBgXU77bJ5a6H7QGnTPtifBBUAlQ5Jzo02QwPIDWv4Pw0I9QByA8eW8ou6mtCoYb4N418nnaYeIeYmxoAN2k87RhUsmekruB50yM21Z6aCGzAJbWT7mkv6GQ0lU2kGVF~TgIktT5fgqLov8V33Xfi48syfLN-kg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 348px;
    width: 208px;
    top: 835px;
    height: 187px;
}


/* image 9 */

#n164_192 {
    background-image: url("https://s3-alpha-sig.figma.com/img/8015/30d8/22a9bced2ec1704de96b86e83cfc2590?Expires=1598832000&Signature=BP1Wez0O8-~HuK3rN-PirKlkI40qfQdXtBPzVOYrPhfQr8ft5Qqd8gpzp-f66T70shsEcC3B~nmj2oIWDDrM755oqQOyMtGM7XIZ-99uDmgkLp1U0D0NE~g~IEM7cenePvUP04~poazNZXW9yOeYYek8YES9d2slcVjUxdwk3mfZqKSrAVfvXW~v6qQj0zUcL4h-yip~GANV75lMaQ8jGmkOrVAKngyjSE7Q0bMf0UmXQXvxqMdC5QMHTJhiZX-SKTpp5Up7HznYts47wWoMoPEYpgLUKPMnPTRbiOvy0DjY7RzHwGsYep9fl80UEvJO05NZzzDnNPV4EfTx7yjXcw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 80px;
    width: 208px;
    top: 835px;
    height: 187px;
}


/* pexels-rebrand-cities-1367278 1 */

#n216_153 {
    background-image: url("https://s3-alpha-sig.figma.com/img/1113/1013/e77c4f0dc51506dbaec4d22c1276ab56?Expires=1598832000&Signature=KQ~eaW8E6OBibnXQiAOphbJVvf62q3fzslNRZHs57wvYRnGCAEeF2STtyl6ihysip8-cnTHcGcBXyU8iDvzwlReZQLrjy0X4RbV9j2Ff~ZvP8AiQhBhjMWJJqT2qz1E1o4ganM8VTV-H01EGYEKlBjgT6xFnr0~XiiLD81APFYewvJ2vUUGsyaGSxpZ3YhyZtPTsMW4L7zt1yYnT9Rf0WFxuoQ-9uYFy9MTMSt3gpNnMFhUkCXg0-L6z35g3-UVnPYNBg1Wpa4xV7tPg6Jfw~SrFyL88tcwkk7ZzhXTn3UHDn8d3e~1rzb-nbT~DEt2Q~KWUMrUiLQnHtGkcANfPhw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 1150px;
    width: 208px;
    top: 836px;
    height: 187px;
}