* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v144_22 {
  width: 100%;
  height: 3142px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v144_23 {
  width: 161px;
  height: 63px;
  background: url("./v144_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.v144_24 {
  width: 100%;
  height: 82px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v144_25 {
  width: 507px;
  color: rgba(0,153,255,1);
  position: absolute;
  top: 223px;
  left: 73px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v144_26 {
  width: 494px;
  color: rgba(0,77,115,1);
  position: absolute;
  top: 391px;
  left: 80px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v144_27 {
  width: 100px;
  height: 100px;
  background: url("./v144_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 423px;
  left: 42px;
  overflow: hidden;
}
.v144_30 {
  width: 330px;
  color: rgba(0,77,115,1);
  position: absolute;
  top: 618px;
  left: 80px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v144_32 {
  width: 118px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 1052px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v144_33 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 1322px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v144_34 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 1211px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v144_35 {
  width: 760px;
  height: 390px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 600px;
  overflow: hidden;
}
.v144_36 {
  width: 254px;
  color: rgba(0,77,115,1);
  position: absolute;
  top: 743px;
  left: 92px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v144_37 {
  width: 340px;
  color: rgba(0,153,255,1);
  position: absolute;
  top: 1225px;
  left: 570px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v164_155 {
  width: 960px;
  color: rgba(0,153,255,1);
  position: absolute;
  top: 1510px;
  left: 569px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v164_157 {
  width: 960px;
  color: rgba(0,153,255,1);
  position: absolute;
  top: 1802px;
  left: 580px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v144_38 {
  width: 884px;
  color: rgba(0,77,115,1);
  position: absolute;
  top: 1315px;
  left: 569px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v164_156 {
  width: 884px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1607px;
  left: 560px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v164_158 {
  width: 884px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1895px;
  left: 578px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v144_39 {
  width: 452px;
  color: rgba(0,77,115,1);
  position: absolute;
  top: 1125px;
  left: 80px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v144_48 {
  width: 279px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2185px;
  left: 80px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v144_42 {
  width: 460px;
  height: 258px;
  background: rgba(0,77,115,1);
  opacity: 1;
  position: absolute;
  top: 1225px;
  left: 80px;
  overflow: hidden;
}
.v144_43 {
  width: 460px;
  height: 258px;
  background: rgba(0,77,115,1);
  opacity: 1;
  position: absolute;
  top: 1519px;
  left: 80px;
  overflow: hidden;
}
.v170_211 {
  width: 460px;
  height: 258px;
  background: rgba(0,77,115,1);
  opacity: 1;
  position: absolute;
  top: 1813px;
  left: 80px;
  overflow: hidden;
}
.v144_45 {
  width: 208px;
  height: 187px;
  background: rgba(0,77,115,1);
  opacity: 1;
  position: absolute;
  top: 835px;
  left: 616px;
  overflow: hidden;
}
.v216_152 {
  width: 208px;
  height: 187px;
  background: url("./v216_152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v144_47 {
  width: 208px;
  height: 187px;
  background: rgba(0,77,115,1);
  opacity: 1;
  position: absolute;
  top: 837px;
  left: 884px;
  overflow: hidden;
}
.v147_145 {
  width: 208px;
  height: 187px;
  background: url("./v147_145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v145_139 {
  width: 100%;
  height: 280px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 2860px;
  left: 0px;
  overflow: hidden;
}
.v170_214 {
  width: 56px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 440px;
  overflow: hidden;
}
.v170_215 {
  width: 56px;
  height: 56px;
  background: url("./v170_215.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v170_216 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 5px;
}
.v170_220 {
  width: 56px;
  height: 56px;
  background: url("./v170_220.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 519px;
  overflow: hidden;
}
.v170_221 {
  width: 130px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 48px;
  left: 440px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v170_222 {
  width: 395px;
  height: 383px;
  background: url("./v170_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 39px;
  overflow: hidden;
}
.v170_224 {
  width: 56px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 440px;
  overflow: hidden;
}
.v170_225 {
  width: 56px;
  height: 56px;
  background: url("./v170_225.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v170_226 {
  width: 46px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 5px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v170_223 {
  width: 339px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 150px;
  left: 720px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v174_0 {
  width: 141px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 48px;
  left: 720px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v174_3 {
  width: 199px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 99px;
  left: 720px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v170_231 {
  width: 481px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 201px;
  left: 720px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v170_233 {
  width: 55px;
  height: 55px;
  background: url("./v170_233.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 519px;
  overflow: hidden;
}
.v170_218 {
  width: 55px;
  height: 55px;
  background: url("./v170_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v170_232 {
  width: 55px;
  height: 55px;
  background: url("./v170_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v174_1 {
  width: 137px;
  height: 243px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 1280px;
  overflow: hidden;
}
.v174_2 {
  width: 85px;
  height: 85px;
  background: rgba(0,77,115,1);
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 1306px;
  overflow: hidden;
}
.v174_4 {
  width: 85px;
  height: 85px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 1306px;
  overflow: hidden;
}
.v142_73 {
  width: 104px;
  height: 26px;
  background: url("./v142_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 784px;
  left: 1256px;
  overflow: hidden;
}
.v144_31 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v164_140 {
  width: 166px;
  height: 194px;
  background: url("./v164_140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 15px;
  overflow: hidden;
}
.v161_38 {
  width: 208px;
  height: 58px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 1022px;
  left: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v161_39 {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 41px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v161_40 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 50px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v162_194 {
  width: 23px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 93px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v162_199 {
  width: 208px;
  height: 62px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 1022px;
  left: 348px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v162_200 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 69px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v162_201 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 69px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v162_202 {
  width: 34px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 87px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v162_207 {
  width: 208px;
  height: 62px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 1022px;
  left: 616px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v162_208 {
  width: 92px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 58px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v162_209 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 51px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v162_210 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 78px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v162_211 {
  width: 208px;
  height: 62px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 1022px;
  left: 884px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v162_212 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v162_213 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 53px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v162_214 {
  width: 44px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 84px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v162_219 {
  width: 208px;
  height: 62px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 1022px;
  left: 1150px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v162_220 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 53px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v162_221 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 53px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v162_222 {
  width: 16px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 98px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v170_208 {
  width: 595px;
  height: 255px;
  background: url("./v170_208.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2265px;
  left: 785px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  overflow: hidden;
}
.v170_209 {
  width: 650px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2295px;
  left: 80px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v170_212 {
  width: 650px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2440px;
  left: 80px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v170_213 {
  width: 650px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2553px;
  left: 80px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v162_321 {
  width: 208px;
  height: 187px;
  background: url("./v162_321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 835px;
  left: 348px;
  overflow: hidden;
}
.v164_192 {
  width: 208px;
  height: 187px;
  background: url("./v164_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 835px;
  left: 80px;
  overflow: hidden;
}
.v216_153 {
  width: 208px;
  height: 187px;
  background: url("./v216_153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 836px;
  left: 1150px;
  overflow: hidden;
}
