/* CSS Code for Launch Webpage */

/* Home Page */

/* Background Image */

.asset-17 {
  width: 1505px;
  height: 844px;
  overflow: visible;
  background-image: url(/* Asset 17.png */);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
}

/* Smart Logo */

._1 {
  width: 197px;
  height: 74px;
  overflow: visible;
  background-image: url(/* 1.png */);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: auto;
}

/* Accelerate your Career */

.text {
  width: 883px;
  height: 93px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--White, #ffffff);
  font-size: 78px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  text-align: right;
}

/* Book virtual.........2 mins */

.text {
  width: 880px;
  height: 32px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--White, #ffffff);
  font-size: 27px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}


/* Email (All Props) INPUT FIELD */

<Input
  backgroundColor={"hsl(0, 0%, 100%)"}
  bottomRight={0}
  placeholder={"Enter your Email"}
  topRight={0}
  {/* Using default values */}
  border={"rgba(0,0,0,0)"}
  borderWidth={1}
  bottomLeft={10}
  focusColor={"#09F"}
  focused={false}
  font={false}
  fontFamily={""}
  fontSize={15}
  multiLine={false}
  onBlur={undefined}
  onChange={undefined}
  onFocus={undefined}
  onSubmit={undefined}
  padding={12}
  password={false}
  placeholderColor={"#aaa"}
  textColor={"#333"}
  topLeft={10}
  value={""}
/>

/* Subscribe */

/* Button */
.frame {
  width: 149px;
  height: 38px;
  overflow: visible;
  background: var(--Background_Colour_Blue, rgba(0, 107, 179, 0.98));
  border-radius: 0 10px 10px 0;
}

/* Transition */
// On Tap - Navigation
type: "spring",
delay: 0,
stiffness: 500,
damping: 60,
mass: 1,

/* Text */
.subscribe {
  width: 87px;
  height: 21px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--White, #ffffff);
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;
}

/* Phone Prototype */

.mockup-i-phone-x {
  width: 343px;
  height: 637px;
  overflow: visible;
  background-image: url(/* Mockup iPhone x.png */);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: auto;
}


/* Secure */
/* Icon */
.asset-21 {
  width: 50px;
  height: 62px;
  overflow: visible;
  background-image: url(/* Asset 21.png */);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: auto;
}

/* Text */
.secure {
  width: 81px;
  height: 28px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--Blue_1, #004d73);
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

/* Description */
.text {
  width: 258px;
  height: 32px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--Blue_1, #004d73);
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

/* Personalized */
/* Icon */
.asset-18 {
  width: 44px;
  height: 63px;
  overflow: visible;
  background-image: url(/* Asset 18.png */);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: auto;
}

/* Text */
.personalized {
  width: 149px;
  height: 28px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--Blue_1, #004d73);
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

/* Description */
.text {
  width: 227px;
  height: 32px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--Blue_1, #004d73);
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

/* Fast */
/* Icon */
.asset-20 {
  width: 63px;
  height: 61px;
  overflow: visible;
  background-image: url(/* Asset 20.png */);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: auto;
}

/* Text */
.fast {
  width: 50px;
  height: 28px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--Blue_1, #004d73);
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

/* Description */
.text {
  width: 272px;
  height: 32px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--Blue_1, #004d73);
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

/* Web Prototype */
.asset-19 {
  width: 723px;
  height: 434px;
  overflow: visible;
  background-image: url(/* Asset 19.png */);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
}

/* Our Vision */
.our-vision {
  width: 358px;
  height: 88px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--Blue_1, #004d73);
  font-size: 74px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;
}

/* Description */
.text {
  width: 642px;
  height: 395px;
  overflow: hidden;
  font-family: "Be Vietnam", serif;
  color: var(--Blue_1, #004d73);
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
}
/* About Us */
.about-us {
  width: 320px;
  height: 88px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--Blue_1, #004d73);
  font-size: 74px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;
}

/* Description */
.text {
  width: 776px;
  height: 240px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--Blue_1, #004d73);
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
}

/* DMZ Logo */
.image {
  width: 100px;
  height: 48px;
  overflow: visible;
  background-image: url(/* image.png */);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: auto;
}

/* Student Marketplace */
.copy-of-text {
  width: 559px;
  height: 241px;
  overflow: visible;
  background-image: url(/* Copy of text.jpg */);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
}

/* Text */
.student-marketplace {
  width: 467px;
  height: 55px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--Azure_Radiance, #0099ff);
  font-size: 46px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;
}


/* Footer */
/*Frame*/
.frame {
  width: 1440px;
  height: 150px;
  overflow: hidden;
  background: var(--Blue_1, #004d73);
}

/* Logo */
._1 {
  width: 154px;
  height: 58px;
  overflow: visible;
  background-image: url(/* 1.png */);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: auto;
}
/* Text */
.text {
  width: 165px;
  height: 14px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--White, #ffffff);
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 300;
  font-style: normal;
}

/*Subscribe*/
/*Text*/
.text {
  width: 250px;
  height: 42px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--White, #ffffff);
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;
}

/*Input*/
<Input
  backgroundColor={"hsl(0, 0%, 100%)"}
  bottomRight={0}
  placeholder={"Enter your University Email"}
  topRight={0}
  {/* Using default values */}
  border={"rgba(0,0,0,0)"}
  borderWidth={1}
  bottomLeft={10}
  focusColor={"#09F"}
  focused={false}
  font={false}
  fontFamily={""}
  fontSize={15}
  multiLine={false}
  onBlur={undefined}
  onChange={undefined}
  onFocus={undefined}
  onSubmit={undefined}
  padding={12}
  password={false}
  placeholderColor={"#aaa"}
  textColor={"#333"}
  topLeft={10}
  value={""}
/>

/*Subscribe Button*/
/*Button*/
.frame {
  width: 149px;
  height: 38px;
  overflow: visible;
  background: var(--Background_Colour_Blue, rgba(0, 107, 179, 0.98));
  border-radius: 0 10px 10px 0;
}
/*Transition*/
// On Tap - Navigation
type: "spring",
delay: 0,
stiffness: 500,
damping: 60,
mass: 1,

/*Text*/
.subscribe {
  width: 87px;
  height: 21px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--White, #ffffff);
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;
}

/* Follow Us*/
.follow-us {
  width: 84px;
  height: 21px;
  overflow: visible;
  font-family: "Be Vietnam", serif;
  color: var(--White, #ffffff);
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;
}

/*Instagram*/
<Icon
  color={"var(--White, rgb(255, 255, 255))"}
  iconSelection={"Instagram"}
  {/* Using default values */}
  iconSearch={"Framer"}
  onClick={undefined}
  onMouseEnter={undefined}
  onMouseLeave={undefined}
  selection={true}
/>

/*LinkedIN*/
/*Frame*/
.frame {
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  overflow: visible;
  background-color: rgba(0, 153, 255, 0);
  border-radius: 10px;
  border: 1px solid var(--White, #ffffff);
}
/*Icon*/
<Icon
  color={"var(--White, rgb(255, 255, 255))"}
  iconSelection={"Linkedin"}
  {/* Using default values */}
  iconSearch={"Framer"}
  onClick={undefined}
  onMouseEnter={undefined}
  onMouseLeave={undefined}
  selection={true}
/>