{% extends "./base.html" %}
{% load static %}

{% block head-content %}
    <link rel="stylesheet" type="text/css" href="https://ui-kit.co/figma2html/dist/layout.css?v=2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab:400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400">
{% endblock %}
{% block body-content %}
    <!-- Homepage -->
    <div class="frame" id="n144_22">
        <!-- for marketing (2) 1 -->
        <div class="left top rectangle" id="n144_23"></div>
        <!-- Rectangle 1 -->
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="1440" height="82" class="left top vector" id="n144_24">
        <!-- Accelerate Your Career -->
        <div class="left top text" id="n144_25">Accelerate Your Career<br>
        </div>
        <!-- Book virtual video sessions with top industry professionals in 2 mins. Free for a limited time! -->
        <div class="left top text" id="n144_26">Book virtual video sessions with top industry professionals in 2 mins. Free for a limited time!</div>
        <!-- Frame 1 -->
        <div class="frame" id="n144_27"></div>
        <!-- Interested in becoming a mentor? -->
        <div class="left top text" id="n144_30">Interested in becoming a mentor?</div>
        <!-- Find Mentors -->
        <a href="{% url 'web-marketplace' %}"><div class="left top text" id="n144_32">Find Mentors </div></a>
        <!-- Log In -->
        <div class="left top text" id="n144_33">Log In</div>
        <!-- Sign Up -->
        <div class="left top text" id="n144_34">Sign Up</div>
        <!-- Rectangle 2 -->
        <div class="left top rectangle" id="n144_35"></div>
        <!-- Mentors -->
        <div class="left top text" id="n144_36">Mentors</div>
        <!-- 1. Sign Up -->
        <div class="left top text" id="n144_37">1. Sign Up<br>
        </div>
        <!-- 2. Complete a career Quiz -->
        <div class="left top text" id="n164_155">2. Complete a career Quiz<br>
        </div>
        <!-- 3. Book Sessions -->
        <div class="left top text" id="n164_157">3. Book Sessions<br>
        </div>
        <!-- Sign up with your university email and reserve your ticket to success. -->
        <div class="left top text" id="n144_38">Sign up with your university email and reserve your ticket to success.<br>
        </div>
        <!-- Indulge in an engaging quiz to help us provide tailor made solutions for you. -->
        <div class="left top text" id="n164_156">Indulge in an engaging quiz to help us provide tailor made solutions for you.<br>
        </div>
        <!-- Our algorithm generates the best mentors suited to your needs. Book sessions in 2 minutes! -->
        <div class="left top text" id="n164_158">Our algorithm generates the best mentors suited to your needs. Book sessions in 2 minutes!</div>
        <!-- How it works -->
        <div class="left top text" id="n144_39">How it works</div>
        <!-- About Us -->
        <div class="left top text" id="n144_48">About Us</div>
        <!-- Line 1 -->
        <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/49f2/5f20/a537df04fdf12c053030772dd0c80edf" width="1440" height="0" class="left top line" id="n144_40">
        <!-- Work Frame 1 -->
        <div class="frame" id="n144_42"></div>
        <!-- Work Frame 2 -->
        <div class="frame" id="n144_43"></div>
        <!-- Work Frame 3 -->
        <div class="frame" id="n170_211"></div>
        <!-- Mentor_Box3 -->
        <div class="frame" id="n144_45">
            <!-- pexels-andrea-piacquadio-3757958 1 -->
            <div class="left top rectangle" id="n216_152"></div>
        </div>
        <!-- Mentor_Box5 -->
        <div class="frame" id="n144_47">
            <!-- pexels-andrea-piacquadio-3778876 1 -->
            <div class="left top rectangle" id="n147_145"></div>
        </div>
        <!-- Button Primary -->
        <a class="button component left top instance" id="n145_136">
            <!-- Background -->
            <div class="scale rectangle" id="nI145_136-9_3"></div>
            <!-- Text -->
            <div class="left_right center text" id="nI145_136-9_4">SIGN UP AS A STUDENT </div>
        </a>
        <!-- Footer -->
        <div class="frame" id="n145_139">
            <!-- facebook-white-18dp 1 -->
            <a href="https://www.facebook.com/sMart.MentorCanada/" target="_blank"><div class="frame" id="n170_214">
                <!-- Vector -->
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" class="empty scale vector" width="56" height="56" id="n170_215">
                <!-- Vector -->
                <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/101f/aad6/9fcd361e5961627f7c9e031e78c2957e" width="46" height="46" class="scale vector" id="n170_216">
            </div></a>
            <!-- image 7 -->
            <a href="https://www.instagram.com/smart.canada/" target="_blank"><div class="left top rectangle" id="n170_220"></div></a>
            <!-- Contact Us: -->
            <div class="left top text" id="n170_221">Contact Us:</div>
            <!-- SmartMentor2 (1) 1 -->
            <a href="{% url 'web-homepage' %}"><div class="left top rectangle" id="n170_222"></div></a>
            <!-- email-white-18dp 1 -->
            <a href="mailto: ali.smartecommerce@gmail.com"><div class="frame" id="n170_224">
                <!-- Vector -->
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" class="empty scale vector" width="56" height="56" id="n170_225">
                <!-- Vector -->
                <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/e5f5/f8dd/471dc165a4f7a5744a7f0218eaa4e7c6" width="46" height="37" class="scale vector" id="n170_226">
            </div></a>
            <!-- Line 2 -->
            <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/7b13/7e5c/a13c7b0242cba597f885d04b29567492" width="0" height="237" class="left top line" id="n170_229">
            <!-- Line 3 -->
            <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/d6ff/e0b6/3e596128577c0968b8993e9077a2c610" width="0" height="243" class="left top line" id="n170_234">
            <!-- Have Questions for the Team? -->
            <div class="left top text" id="n170_223">Have Questions for the Team?</div>
            <!-- Our Journey -->
            <div class="left top text" id="n174_0">Our Journey</div>
            <!-- Meet Team sMart -->
            <div class="left top text" id="n174_3">Meet Team sMart</div>
            <!-- Send Feedback - We love to hear from you! -->
            <div class="left top text" id="n170_231">Send Feedback - We love to hear from you!</div>
            <!-- Group 31 -->
            <div class="group" id="n170_233">
                <!-- image 6 -->
                <div class="left top rectangle" id="n170_218"></div>
                <!-- Rectangle 65 -->
                <a href="https://www.linkedin.com/company/smart-student-marketplace/" target="_blank"><div class="left top rectangle" id="n170_232"></div></a>
            </div>
            <!-- Rectangle 66 -->
            <div class="left top rectangle" id="n174_1"></div>
            <!-- Rectangle 67 -->
            <div class="left top rectangle" id="n174_2"></div>
            <!-- Rectangle 68 -->
            <div class="left top rectangle" id="n174_4"></div>
        </div>
        <!-- Group 4 -->
        <a href="{% url 'web-marketplace' %}"><div class="group" id="n142_73">
            <!-- View All -->
            <div class="left top text" id="n144_31">View All</div>
            <!-- Polygon 3 -->
            <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/071c/50c5/e38b0fd5556b1136b3f1e124c37b2d98" width="14" height="14" class="left top regular_polygon" id="n142_72">
        </div></a>
        <!-- SmartMentor2 (1) 1 -->
        <a href="{% url 'web-homepage' %}"><div class="left top rectangle" id="n164_140"></div></a>
        <!-- Frame 15 -->
        <div class="frame" id="n161_38">
            <!-- Amulay Chadha -->
            <div class="left top text" id="n161_39">Amulay Chadha</div>
            <!-- Data Scientist -->
            <div class="left top text" id="n161_40">Data Scientist</div>
            <!-- RBC -->
            <div class="left top text" id="n162_194">RBC</div>
        </div>
        <!-- Frame 16 -->
        <div class="frame" id="n162_199">
            <!-- Martin Li -->
            <div class="left top text" id="n162_200">Martin Li</div>
            <!-- Audit Analyst -->
            <div class="left top text" id="n162_201">Audit Analyst</div>
            <!-- KPMG -->
            <div class="left top text" id="n162_202">KPMG</div>
        </div>
        <!-- Frame 17 -->
        <div class="frame" id="n162_207">
            <!-- Julia Jones -->
            <div class="left top text" id="n162_208">Julia Jones</div>
            <!-- Software Developer -->
            <div class="left top text" id="n162_209">Software Developer</div>
            <!-- Microsoft -->
            <div class="left top text" id="n162_210">Microsoft</div>
        </div>
        <!-- Frame 18 -->
        <div class="frame" id="n162_211">
            <!-- Charles Warne -->
            <div class="left top text" id="n162_212">Charles Warne</div>
            <!-- Marketing Analyst -->
            <div class="left top text" id="n162_213">Marketing Analyst</div>
            <!-- Sun Life -->
            <div class="left top text" id="n162_214">Sun Life</div>
        </div>
        <!-- Frame 19 -->
        <div class="frame" id="n162_219">
            <!-- Rachel Smith -->
            <div class="left top text" id="n162_220">Rachel Smith</div>
            <!-- Strategy Consultant -->
            <div class="left top text" id="n162_221">Strategy Consultant</div>
            <!-- TD -->
            <div class="left top text" id="n162_222">TD</div>
        </div>
        <!-- image 5 -->
        <div class="left top rectangle" id="n170_208"></div>
        <!-- sMart - Student Marketplace started off as a small team of 4 ambitious undergraduate students in April 2020. We now have 15 executives spread across 3 different countries. -->
        <div class="left top text" id="n170_209">sMart - Student Marketplace started off as a small team of 4 ambitious undergraduate students in April 2020. We now have 15 executives spread across 3 different countries.</div>
        <!-- 90% of our members haven't interned in any Canadian company. We believe in empowering those who can make the most out of this opportunity. -->
        <div class="left top text" id="n170_212">90% of our members haven't interned in any Canadian company. We believe in empowering those who can make the most out of this opportunity.</div>
        <!-- We're also proud to be recognized amongst the top 10% startups to qualify for the DMZ Basecamp Lite Program. -->
        <div class="left top text" id="n170_213">We're also proud to be recognized amongst the top 10% startups to qualify for the DMZ Basecamp Lite Program.</div>
        <!-- pexels-mentatdgt-937481 1 -->
        <div class="left top rectangle" id="n162_321"></div>
        <!-- image 9 -->
        <div class="left top rectangle" id="n164_192"></div>
        <!-- pexels-rebrand-cities-1367278 1 -->
        <div class="left top rectangle" id="n216_153"></div>
    </div>
{% endblock %}