{% extends "./base.html" %}
{% load static %}

{% block head-content %}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
{% endblock %}
{% block body-content %}
    <div class="v144_22">
        <a href="{% url 'web-homepage' %}"><div class="v144_23"></div></a>
        <div class="v144_24"></div>
        <span class="v144_25">Accelerate Your Career
        </span><span class="v144_26">Book virtual video sessions with top industry professionals in 2 mins. Free for a limited time!</span>
        <div class="v144_27"></div>
        <span class="v144_30">Interested in becoming a mentor?</span><a href="{% url 'web-marketplace' %}"><span class="v144_32">Find Mentors </span></a><span class="v144_33">Log In</span><a href="{% url 'register' %}"><span class="v144_34">Sign Up</span></a>
        <div class="v144_35"></div>
        <span class="v144_36">Mentors</span><span class="v144_37">1. Sign Up
        </span><span class="v164_155">2. Complete a career Quiz
        </span><span class="v164_157">3. Book Sessions
        </span><span class="v144_38">Sign up with your university email and reserve your ticket to success.
        </span><span class="v164_156">Indulge in an engaging quiz to help us provide tailor made solutions for you.
        </span><span class="v164_158">Our algorithm generates the best mentors suited to your needs. Book sessions in 2 minutes!</span><span class="v144_39">How it works</span><span class="v144_48">About Us</span>
        <div class="name"></div>
        <div class="v144_42"></div>
        <div class="v144_43"></div>
        <div class="v170_211"></div>
        <div class="v144_45">
            <div class="v216_152"></div>
        </div>
        <div class="v144_47">
            <div class="v147_145"></div>
        </div>
        <div class="name"></div>
        <div class="v145_139">
            <div class="v170_214">
                <div class="v170_215"></div>
                <div class="v170_216"></div>
            </div>
            <div class="v170_220"></div>
            <span class="v170_221">Contact Us:</span>
            <div class="v170_222"></div>
            <div class="v170_224">
                <div class="v170_225"></div>
                <div class="v170_226"></div>
            </div>
            <div class="name"></div>
            <div class="name"></div>
            <span class="v170_223">Have Questions for the Team?</span><span class="v174_0">Our Journey</span><span class="v174_3">Meet Team sMart</span><span class="v170_231">Send Feedback - We love to hear from you!</span>
            <div class="v170_233">
                <div class="v170_218"></div>
                <div class="v170_232"></div>
            </div>
            <div class="v174_1"></div>
            <div class="v174_2"></div>
            <div class="v174_4"></div>
        </div>
        <div class="v142_73">
            <span class="v144_31">View All</span>
            <div class="name"></div>
        </div>
        <div class="v164_140"></div>
        <div class="v161_38"><span class="v161_39">Amulay Chadha</span><span class="v161_40">Data Scientist</span><span class="v162_194">RBC</span></div>
        <div class="v162_199"><span class="v162_200">Martin Li</span><span class="v162_201">Audit Analyst</span><span class="v162_202">KPMG</span></div>
        <div class="v162_207"><span class="v162_208">Julia Jones</span><span class="v162_209">Software Developer</span><span class="v162_210">Microsoft</span></div>
        <div class="v162_211"><span class="v162_212">Charles Warne</span><span class="v162_213">Marketing Analyst</span><span class="v162_214">Sun Life</span></div>
        <div class="v162_219"><span class="v162_220">Rachel Smith</span><span class="v162_221">Strategy Consultant</span><span class="v162_222">TD</span></div>
        <div class="v170_208"></div>
        <span class="v170_209">sMart - Student Marketplace started off as a small team of 4 ambitious undergraduate students in April 2020. We now have 15 executives spread across 3 different countries.</span><span class="v170_212">90% of our members haven't interned in any Canadian company. We believe in empowering those who can make the most out of this opportunity.</span><span class="v170_213">We're also proud to be recognized amongst the top 10% startups to qualify for the DMZ Basecamp Lite Program.</span>
        <div class="v162_321"></div>
        <div class="v164_192"></div>
        <div class="v216_153"></div>
    </div>
{% endblock %}