{% extends "./base.html" %}
{% load static %}

{% block head-content %}
    <link rel="stylesheet" type="text/css" href="https://ui-kit.co/figma2html/dist/layout.css?v=2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400,500,300">
{% endblock %}
{% block body-content %}
<div class="frame" id="n170_154">
	<!-- Ellipse 7 -->
	<img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/5a36/e3ae/eee4bd1fa78c5b5d59792f797b0246f2" width="1793" height="1017" class="left top vector" id="n184_1">
		<!-- Rectangle 1 -->
		<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="1440" height="82" class="left top vector" id="n170_155">
			<!-- SmartMentor2 (1) 1 -->
			<a href="{% url 'web-homepage' %}">
				<div class="left top rectangle" id="n164_159"></div>
			</a>
			<!-- Find Mentors -->
			<div class="left top text" id="n170_157">Find Mentors </div>
			<!-- Log In -->
			<div class="left top text" id="n170_158">Log In</div>
			<!-- Rectangle 22 -->
			<div class="left top rectangle" id="n170_193"></div>
			<!-- Mentor_Box1 -->
			<div class="frame" id="n174_5">
				<!-- pexels-snapwire-618613 1 -->
				<div class="left top rectangle" id="n174_6"></div>
			</div>
			<!-- Frame 15 -->
			<div class="frame" id="n174_15">
				<!-- John Doe -->
				<div class="left top text" id="n174_16">John Doe</div>
				<!-- Fin Analyst, Testing -->
				<div class="left_right top text" id="n174_17">Fin Analyst, Testing </div>
				<!-- RBC -->
				<div class="left top text" id="n174_18">RBC</div>
			</div>
			<!-- Frame 16 -->
			<div class="frame" id="n174_19">
				<!-- Martha Oliver -->
				<div class="left top text" id="n174_20">Martha Oliver</div>
				<!-- Audit Analyst -->
				<div class="left top text" id="n174_21">Audit Analyst</div>
				<!-- KPMG -->
				<div class="left top text" id="n174_22">KPMG</div>
			</div>
			<!-- Frame 22 -->
			<div class="frame" id="n175_19">
				<!-- Martin Li -->
				<div class="left top text" id="n175_20">Martin Li</div>
				<!-- Audit Analyst -->
				<div class="left top text" id="n175_21">Audit Analyst</div>
				<!-- BMO -->
				<div class="left top text" id="n175_22">BMO</div>
			</div>
			<!-- Mentor_Box3 -->
			<div class="frame" id="n174_9"></div>
			<!-- Frame 17 -->
			<div class="frame" id="n174_23">
				<!-- Amulay Chadha -->
				<div class="left top text" id="n174_24">Amulay Chadha</div>
				<!-- Data Scientist -->
				<div class="left top text" id="n174_25">Data Scientist</div>
				<!-- RBC -->
				<div class="left top text" id="n174_26">RBC</div>
			</div>
			<!-- Mentor_Box4 -->
			<div class="frame" id="n174_10">
				<!-- pexels-andrea-piacquadio-837306 1 -->
				<div class="left top rectangle" id="n174_11"></div>
			</div>
			<!-- Frame 18 -->
			<div class="frame" id="n174_27">
				<!-- Julia Jones -->
				<div class="left top text" id="n174_28">Julia Jones</div>
				<!-- Software Developer -->
				<div class="left top text" id="n174_29">Software Developer</div>
				<!-- Microsoft -->
				<div class="left top text" id="n174_30">Microsoft</div>
			</div>
			<!-- Mentor_Box5 -->
			<div class="frame" id="n175_11">
				<!-- pexels-andrea-piacquadio-3778876 1 -->
				<div class="left top rectangle" id="n175_12"></div>
			</div>
			<!-- Frame 19 -->
			<div class="frame" id="n174_31">
				<!-- Rachel Smith -->
				<div class="left top text" id="n174_32">Rachel Smith</div>
				<!-- Strategy Consultant -->
				<div class="left top text" id="n174_33">Strategy Consultant</div>
				<!-- TD -->
				<div class="left top text" id="n174_34">TD</div>
			</div>
			<!-- Frame 20 -->
			<div class="frame" id="n175_7">
				<!-- Rudy Thompson -->
				<div class="left top text" id="n175_8">Rudy Thompson</div>
				<!-- Strategy Consultant -->
				<div class="left top text" id="n175_9">Strategy Consultant</div>
				<!-- EY -->
				<div class="left top text" id="n175_10">EY</div>
			</div>
			<!-- Frame 23 -->
			<div class="frame" id="n175_46">
				<!-- Charles Warne -->
				<div class="left top text" id="n175_47">Charles Warne</div>
				<!-- Marketing Analyst -->
				<div class="left top text" id="n175_48">Marketing Analyst</div>
				<!-- Sun Life -->
				<div class="left top text" id="n175_49">Sun Life</div>
			</div>
			<!-- SideBar - Market Place -->
			<div class="frame" id="n175_62">
				<!-- Line 4 -->
				<img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/3ab8/aa7e/4f43183c9b44b3dc287eea994258343d" width="266" height="0" class="left top line" id="n175_51">
					<!-- Line 5 -->
					<img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/3ab8/aa7e/4f43183c9b44b3dc287eea994258343d" width="266" height="0" class="left top line" id="n175_52">
						<!-- Line 6 -->
						<img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/3ab8/aa7e/4f43183c9b44b3dc287eea994258343d" width="266" height="0" class="left top line" id="n175_53">
							<!-- Resources for Students -->
							<div class="left top text" id="n175_54">Resources for Students</div>
							<!-- Log In to Book Sessions -->
							<div class="left top text" id="n175_59">Log In to Book Sessions</div>
							<!-- Complete your profile to find the best mentors for you -->
							<div class="left top text" id="n175_57">Complete your profile to find the best mentors for you</div>
							<!-- For Students willing to explore their industry ➜ -->
							<div class="left top text" id="n175_58">For Students willing to explore their industry ➜</div>
							<!-- For Mentor willing to share their experience ➜ -->
							<div class="left top text" id="n175_60">For Mentor willing to share their experience &nbsp;➜</div>
							<!-- Join Us Today! -->
							<div class="left top text" id="n175_56">Join Us Today!</div>
						</div>
						<!-- Line 7 -->
						<img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/9cb2/bd17/b6ac7ddc86153a4910104702ea842eb7" width="999" height="0" class="left top line" id="n197_146">
							<!-- pexels-rebrand-cities-1367278 1 -->
							<div class="left top rectangle" id="n215_0"></div>
							<!-- pexels-andrea-piacquadio-785667 1 -->
							<div class="left top rectangle" id="n216_0"></div>
							<!-- pexels-mentatdgt-937481 1 -->
							<div class="left top rectangle" id="n174_8"></div>
							<!-- pexels-andrea-piacquadio-3757958 1 -->
							<div class="left top rectangle" id="n216_1"></div>
							<!-- image 9 -->
							<div class="left top rectangle" id="n216_2"></div>
							<!-- Frame 62 -->
							<div class="frame" id="n216_11">
								<!-- Search Mentors -->
								<div class="left top text" id="n216_16">Search Mentors</div>
								<!-- Frame 63 -->
								<div class="frame" id="n216_12">
									<!-- search_24px -->
									<div class="left top component" id="n216_19">
										<!-- icon/action/search_24px -->
										<img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/b80c/b80d/a8c52e51cbf68fdf3153cff667265287" width="21" height="21" class="scale boolean_operation" id="n216_20"></div>
									</div>
								</div>
							</div>
{% endblock %}
