{% extends "./base.html" %}
{% load static %}

{% block head-content %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
{% endblock %}
{% block body-content %}
    <div class="v170_154">
        <div class="v184_1"></div>
        <div class="v170_155"></div>
        <a href="{% url 'web-homepage' %}"><div class="v164_159"></div></a>
        <a href="{% url 'web-marketplace' %}"><span class="v170_157">Find Mentors </span></a><span class="v170_158">Log In</span>
        <div class="v170_193"></div>
        <div class="v174_5">
            <div class="v174_6"></div>
        </div>
        <div class="v174_15"><span class="v174_16">John Doe</span><span class="v174_17">Fin Analyst, Testing </span><span class="v174_18">RBC</span></div>
        <div class="v174_19"><span class="v174_20">Martha Oliver</span><span class="v174_21">Audit Analyst</span><span class="v174_22">KPMG</span></div>
        <div class="v175_19"><span class="v175_20">Martin Li</span><span class="v175_21">Audit Analyst</span><span class="v175_22">BMO</span></div>
        <div class="v174_9"></div>
        <div class="v174_23"><span class="v174_24">Amulay Chadha</span><span class="v174_25">Data Scientist</span><span class="v174_26">RBC</span></div>
        <div class="v174_10">
            <div class="v174_11"></div>
        </div>
        <div class="v174_27"><span class="v174_28">Julia Jones</span><span class="v174_29">Software Developer</span><span class="v174_30">Microsoft</span></div>
        <div class="v175_11">
            <div class="v175_12"></div>
        </div>
        <div class="v174_31"><span class="v174_32">Rachel Smith</span><span class="v174_33">Strategy Consultant</span><span class="v174_34">TD</span></div>
        <div class="v175_7"><span class="v175_8">Rudy Thompson</span><span class="v175_9">Strategy Consultant</span><span class="v175_10">EY</span></div>
        <div class="v175_46"><span class="v175_47">Charles Warne</span><span class="v175_48">Marketing Analyst</span><span class="v175_49">Sun Life</span></div>
        <div class="v175_62">
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <span class="v175_54">Resources for Students</span><span class="v175_59">Log In to Book Sessions</span><span class="v175_57">Complete your profile to find the best mentors for you</span><span class="v175_58">For Students willing to explore their industry ➜</span><span class="v175_60">For Mentor willing to share their experience  ➜</span><span class="v175_56">Join Us Today!</span>
        </div>
        <div class="name"></div>
        <div class="v215_0"></div>
        <div class="v216_0"></div>
        <div class="v174_8"></div>
        <div class="v216_1"></div>
        <div class="v216_2"></div>
        <div class="v216_11">
            <span class="v216_16">Search Mentors</span>
            <div class="v216_12">
                <div class="name"></div>
            </div>
        </div>
    </div>
{% endblock %}
