{% extends "./base.html" %}
{% load static %}

{% block head-content %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
{% endblock %}
{% block body-content %}
    <div class="v164_160">
        <div class="v164_161"></div>
        <div class="v164_162"></div>
        <a href="{% url 'web-homepage' %}"><div class="v220_193"></div></a>
        <a href="{% url 'web-marketplace' %}"><span class="v164_163">Find Mentors </span></a><span class="v164_164">Sign In</span><span class="v164_165">Sign Up</span>
        <a href="{% url 'register' %}"><span class="v164_166">Sign Up</span></a>
        <div class="v164_168"><span class="v164_169">About Me</span><span class="v230_1">My name is Amulay Chadha, a 4th year student at Rotman Commerce studying finance and economics.
            I was raised in Nairobi, Kenya and am an international student here in Canada.I have an avid interest in
            financial markets and venture capital, which is goal in my career to be a part of.
            Some of my hobbies/passions/interests include:
            I am huge enthusiast of sports. I play and watch a lot of cricket and soccer, I'm addicted to fantasy football
            (EPL) and Formula 1. I am also a google food reviewer, cooking and trying new dishes has always been my
            greatest source of happiness and that has led me to become one of the top 1% of  google food reviewers
            in Toronto! I don't watch a lot of movies but instead watch a lot of YouTube and listen to podcasts.
            Over quarantine, I've been addicted to playing COD warzone outside of work.</span>
        </div>
        <div class="v162_317"><span class="v162_318">Book Session</span></div>
        <span class="v164_177">Amulay Chadha</span><span class="v164_178">5.0</span><span class="v164_179">123 students</span><span class="v164_180">55 reviews </span>
        <div class="v164_181"></div>
        <span class="v164_182">Data Scientist</span><span class="v164_183">Royal Bank of Canada</span>
        <div class="v164_190"></div>
        <span class="v230_0">Resume Review</span><span class="v236_2">Career Planning</span><span class="v236_1">Recruitment
        Tips</span><span class="v236_3">Mock Interview</span><span class="v233_193">Services</span>
        <div class="v236_4"></div>
        <div class="v236_6"></div>
        <div class="v236_7"></div>
        <div class="v236_8"></div>
    </div>
{% endblock %}