* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v170_154 {
  width: 100%;
  height: 900px;
  background: rgba(238,238,238,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v184_1 {
  width: 100%;
  height: 100%;
  background: rgba(0,77,115,1);
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 70px;
}
.v170_155 {
  width: 100%;
  height: 82px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v164_159 {
  width: 166px;
  height: 194px;
  background: url("../images/v164_159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 10px;
  overflow: hidden;
}
.v170_157 {
  width: 190px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 997px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v170_158 {
  width: 190px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 1228px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v170_193 {
  width: 122px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 1031px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v174_5 {
  width: 208px;
  height: 187px;
  background: rgba(0,77,115,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 381px;
  overflow: hidden;
}
.v174_6 {
  width: 208px;
  height: 187px;
  background: url("../images/v174_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v174_15 {
  width: 208px;
  height: 62px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 449px;
  left: 381px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v174_16 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 66px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v174_17 {
  width: 104px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 52px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v174_18 {
  width: 23px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 93px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v174_19 {
  width: 208px;
  height: 62px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 449px;
  left: 645px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v174_20 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 50px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v174_21 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 69px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v174_22 {
  width: 34px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 87px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v175_19 {
  width: 208px;
  height: 62px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 746px;
  left: 1175px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v175_20 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 69px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v175_21 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 69px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v175_22 {
  width: 27px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 91px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v174_9 {
  width: 208px;
  height: 187px;
  background: rgba(0,77,115,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 909px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_23 {
  width: 208px;
  height: 62px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 449px;
  left: 909px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v174_24 {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 41px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v174_25 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 69px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v174_26 {
  width: 23px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 93px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v174_10 {
  width: 208px;
  height: 187px;
  background: rgba(0,77,115,1);
  opacity: 1;
  position: absolute;
  top: 559px;
  left: 1175px;
  overflow: hidden;
}
.v174_11 {
  width: 208px;
  height: 187px;
  background: url("../images/v174_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v174_27 {
  width: 208px;
  height: 62px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 449px;
  left: 1173px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v174_28 {
  width: 92px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 60px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v174_29 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 53px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v174_30 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 80px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v175_11 {
  width: 208px;
  height: 187px;
  background: rgba(0,77,115,1);
  opacity: 1;
  position: absolute;
  top: 559px;
  left: 909px;
  overflow: hidden;
}
.v175_12 {
  width: 208px;
  height: 187px;
  background: url("../images/v175_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v174_31 {
  width: 208px;
  height: 62px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 746px;
  left: 381px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v174_32 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 53px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v174_33 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 53px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v174_34 {
  width: 16px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 98px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v175_7 {
  width: 208px;
  height: 62px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 746px;
  left: 645px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v175_8 {
  width: 131px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 41px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v175_9 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 53px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v175_10 {
  width: 15px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 99px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v175_46 {
  width: 208px;
  height: 62px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 746px;
  left: 909px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v175_47 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v175_48 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 53px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v175_49 {
  width: 44px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 84px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v175_62 {
  width: 358px;
  height: 681px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v175_54 {
  width: 225px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 205px;
  left: 67px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v175_59 {
  width: 335px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 53px;
  left: 12px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v175_57 {
  width: 225px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 285px;
  left: 67px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v175_58 {
  width: 225px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 482px;
  left: 67px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v175_60 {
  width: 220px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 544px;
  left: 67px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v175_56 {
  width: 225px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 430px;
  left: 67px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v215_0 {
  width: 208px;
  height: 187px;
  background: url("../images/v215_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 559px;
  left: 381px;
  overflow: hidden;
}
.v216_0 {
  width: 208px;
  height: 187px;
  background: url("../images/v216_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 645px;
  overflow: hidden;
}
.v174_8 {
  width: 208px;
  height: 187px;
  background: url("../images/v174_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 559px;
  left: 645px;
  overflow: hidden;
}
.v216_1 {
  width: 208px;
  height: 187px;
  background: url("../images/v216_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 1173px;
  overflow: hidden;
}
.v216_2 {
  width: 208px;
  height: 187px;
  background: url("../images/v216_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 909px;
  overflow: hidden;
}
.v216_11 {
  width: 729px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 524px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v216_16 {
  width: 167px;
  color: rgba(0,153,255,0.6000000238418579);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v216_12 {
  width: 49px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 680px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
